.buiding {
    padding-top: 180px;
    &-main {
        display: flex;
        align-items: center;
        margin-bottom: 110px;
    }
    &-heading {
        color: var(--primary-color);
        font-size: 50px;
        margin-bottom: 50px;
        letter-spacing: 5px;
    }
    &-desc {
        max-width: 450px;
        line-height: 1.5;
        margin-bottom: 50px;
    }
    &-right {
            font-size: 25px;
            letter-spacing: 5px;
            margin-bottom: 10px;
    }
    &-top {
        display: flex;
        gap: 0 10px;
    }
    &-desgn {
        margin-bottom: 10px;
    }
    &-img {
        width: 838px;
    }
    &-content {
        transform: translateX(85px);
    }
   @media screen and (max-width: 767.98px) {
    padding-top: 0px;
    &-main {
        flex-direction: column;
        padding: 60px 0 0px;
        margin-bottom: 50px;
    }
    &-content {
         transform: translateX(0px);
         margin-bottom: 30px;
    }
    &-heading {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    &-desc {
        font-size: 18px;
        margin-bottom: 30px;
    }
    &-desgn {
        font-size: 18px;
    }
    &-img {
        width: 386px;
    }
   
   }
   
}