.event {
    background-color: var(--purple-color);

    &-wrapper {
        display: flex;
        align-items: center;

    }

    &-item {
        padding: 67px 55px 28px 100px;
        max-width: 912px;
    }

    &-item-type {
        font-style: italic;
        color: var(--white);
        margin-bottom: 15px;
    }

    &-item-title {
        font-size: 50px;
        color: var(--white);
        margin-bottom: 25px;
    }

    &-item-desc {
        color: var(--white);
        max-width: 411px;
        line-height: 1.5;
    }

    &-date-text {
        font-size: 22px;
        color: var(--white);
        margin-bottom: 35px;
        letter-spacing: 3px;

    }

    &-date-icon {
        color: var(--white);
        margin-bottom: 60px;
        width: 123px;
        text-align: center;
    }

    &-date {
        background-color: var(--purple);
        max-height: 275px;
        padding: 85px 20px 54px 20px;
    }

    &-location {
        padding: 132px 118px 85px 50px;
    }

    &-location-name {
        color: var(--white);
        font-size: 22px;
        margin-bottom: 15px;
        letter-spacing: 3px;

    }

    &-location-adrres {
        color: var(--white);
        left: 123px;
        transform: translateX(31px);

    }

    @media screen and (max-width: 767.98px) {
        &-wrapper {
            flex-direction: column;
        }
        &-item {
            padding: 50px 25px 30px 25px;
        }
        &-item-type {
            font-size: 18px;
        }
        &-item-desc {
            font-size: 18px;
        }
        &-date {
            padding: 40px 100px 10px 100px;

        }
        &-date-icon {
            margin-bottom: 30px;
        }
        &-item-title {
            font-size: 40px;
        }
        &-date-text {
            font-size: 25px;
        }
        &-location {
            padding: 40px 50px 40px 50px;
        }
        &-location-adrres {
            font-size: 18px;
        }
    }

}