.fature {
    padding: 150px 0 100px;
    background-color: var(--blue);
    &-main {
        display: flex;
        align-items: center;
        // justify-content: space-between;

    }

    &-content {
        transform: translateX(85px);
    }

    &-list {
        display: flex;
        align-items: center;
        margin-top: 55px;
        gap: 0 25px;
        transform: translateX(-34px);
    }
    &-info {
        background: var(--white);
        padding: 30px 25px 15px 30px;
    }

    &-our {
        font-size: 22px;
        font-family: "RobotoRegular", sans-serif;
        font-style: italic;
        color: var(--black);
        font-weight: bold;
        margin-bottom: 50px;
    }

    &-out {
        font-size: 22px;
        font-family: "RobotoRegular", sans-serif;
        font-style: italic;
        color: var(--white);
        font-weight: bold;
        margin-bottom: 60px;
        margin-top: 72px;
    }

    &-contac {
        border-width: 2px;
        height: 2px;
        border-color: var(--white);
        border-style: solid;
        width: 80px;
    }

    &-sinup {
        background: var(--purple);
        padding: 130px 0 6px 25px;
    }

    &-desgn {
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: "RobotoRegular", sans-serif;
        color: var(--white);
    }

    &-imag {
        background: var(--primary-color);
    }
    &-outh {
        font-size: 22px;
        font-family: "RobotoRegular", sans-serif;
        font-style: italic;
        color: var(--white);
        font-weight: bold;
        margin-bottom: 68px;
        width: 237px;
    }
    &-fill {
        padding: 10px 0 40px 25px;
    }
    @media screen and (max-width: 991px) {
        padding: 50px 0 50px;
        .heading {
            width: 100%;
        }
        &-main {
            flex-direction: column;
        }
        &-list {
            flex-direction: column;
            transform:unset;
            img {
                width: 100%;
            }
        }
        &-content {
            transform: unset;
        }
        .desc {
            max-width: unset;
        }

        &-item {
            max-width: 263px;
            margin-bottom: 20px;
        }

    }
    @media screen and (max-width: 1023.98px) {
        .desc {
            margin-bottom: 80px;
        }
    }
    
}