.footer {
    padding: 130px 0 120px;
    background-color: var(--black);
    &-menu {
        display:flex;
        align-items: center;
        justify-content: space-between;
                  
    }
    &-column {
        display: flex;
        align-items: center;
        gap: 0 90px;
    }
    &-title {
        font-size: 18px;
        font-family: "BuiltTitlingRegular", sans-serif;

        color: var(--white);
        letter-spacing: 2px;
       
    }
    &-copyrights {
        width: 137px;
        height: 2px;
        border-color: var(--white);
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }
    &-axure {
        width: 132px;
        height: 2px;
        border-color: var(--white);
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
        margin-left: 12px;
    }
    &-care {
        width: 74px;
        height: 2px;
        border-color: var(--white);
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
        margin-left: 5px;
    }
   &-Copyright {
        width: 78px;
        height: 2px;
        border-color: var(--white);
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
        margin-left: 9px;
   }
    &-img {
        padding: 20px 177px 20px 35px;
        background: var(--primary-color);
        transform: translateX(124px);
    }
    @media screen and (max-width: 991px) {
        padding: 60px 0 50px;
        &-menu{
            flex-direction: column;
        }
        &-img {
            transform: unset;
            padding: 20px;
        }
        &-column-logo {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 767.98px) {
            padding: 50px 0 50px;
        &-menu{

            flex-direction: column;
        }
        &-column{
            flex-direction: column;
        }
        &-img{
                transform: translateX(0px);
        }
        &-axure {
            color: white;
        }
        &-desgn{
            color: white;
        }
        &-link {
            margin-bottom: 38px;
        }
        &-copyright {
            margin-bottom: 38px;
        }
    }
}