@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@font-face {
    font-family: "BuiltTitlingRegular";
    src: url("../fonts/BuiltTitlingRg-Regular400.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto/RobotoCondensed-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoBold";
    src: url("../font/Roboto/RobotoCondensed-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "BuiltTitlingBoldItalic";
    src: url("../fonts/BuiltTitlingRg-BoldItalic700.ttf") format("truetype");
  }
.wrapper {
    width: 1586px;
    margin: 0 auto;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.heading {
    font-size: 45px;
    font-family: "BuiltTitlingRegular", sans-serif;
    width: 630px;
    letter-spacing: 3px;
    color: var(--white);
    margin-bottom: 40px;
}

.desc {
    color: var(--white);
    font-family: "BuiltTitlingRegular", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    max-width: 400px;
    margin-bottom: 145px;
}

.descs {
    color: var(--black);
    font-family: "BuiltTitlingRegular", sans-serif;
    margin-bottom: 45px;
}

.btn-blue {
    color: var(--white);
    text-decoration: none;
    font-family: "BuiltTitlingRegular", sans-serif;
    padding: 60px 100px 60px 100px;
    background: var(--blue-color);
    margin-bottom: 5px;
}

i.fa-solid.fa-house {
    color: var(--white);
        margin-left: 89%;
        transform: translateY(386px);
}

.icon {
    margin-left: 189px;
    margin-bottom: 10px;
}

.title {
    font-size: 55px;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 7px;
}

.desgn {
    color: var(--white);
    margin-top: 100px;
}

i.fa-brands.fa-facebook.icon {
    transform: translateY(-16px);
    color: var(--white);
}
i.fa-solid.fa-binoculars {
    color: var(--primary-color);
}
i.fa-solid.fa-power-off {
    color: var(--primary-color);
}
i.fa-solid.fa-bug {
    color: var(--primary-color);
}
i.fa-solid.fa-user{
    color: var(--primary-color);
}
.img {
    height: 211px;
    width: 261px;
    background-position: center;
}
.titles {
    font-family: "BuiltTitlingRegular", sans-serif;
    font-size: 22px;
    margin-bottom: 70px;
    font-style: italic;
    font-weight: bold;
}
.btn-button{
    padding: 10px 30px 10px 30px;
    font-family: "BuiltTitlingRegular", sans-serif;
    background: var(--black);
    text-decoration: none;
   color: var(--white);
   
}
.inputs{
  margin-bottom: 10px;
}
.btn-buttons {
    padding: 15px 50px 15px 50px;
    background: var(--primary-color);
    color: var(--white);
    text-decoration: none;
}
textarea {
    resize: none;
}
@media screen and (max-width: 767.98px) {
    .titles {
        margin-bottom: 40px;
        font-size: 25px;
    }
   .heading {
    font-size: 40px;
    margin-bottom: 30px;
   }
   .desc {
    margin-bottom: 80px;
   }
   .btn-blue {
       padding: 40px 115px 40px 115px

   }
}
@media screen and (max-width: 1023.98px) {
    .titles {
        margin-bottom: 50px;
    }
    .btn-blue {
        color: var(--white);
        text-decoration: none;
        padding: 40px 100px 40px 100px;
        background: var(--blue-color);
        margin-bottom: 5px;
    }
   }