.header {
    background-color: var(--purple);
    padding-bottom: 147px;
    &-main {
        display: flex;
        align-items: center;
        gap: 0 290px;

    }

    &-logo {
        display: flex;
        align-items: center;
        color: white;
        gap: 0 20px;
    }

    &-content {
        padding-top: 150px;
        display: grid;
        grid-template-columns: 1fr 6fr 5fr;
        position: relative;
    }

    &-drive {
        position: absolute;
        border-width: 1px;
        border-style: solid;
        width: 1px;
        border-color: var(--white);
        margin-left: 76px;
        height: 1060px;
    }
    &-title {
        position: relative;
        color: white;
        font-size: 55px;
        width: 253px;
        letter-spacing: 6px;
        z-index: 50;
        line-height: 1.1;
        font-family: "BuiltTitlingRegular", sans-serif;
    }

    &-desc {
        position: absolute;
        height: 197px;
        top: 44.5%;
        left: 23%;
        padding: 25px 15px 30px 46px;
        background-color: var(--prink);
        font-family: "RobotoRegular", sans-serif;
        color: white;
        width: 388px;
        line-height: 1.75;
        width: 397px;
    }

    &-auth {
        position: absolute;
        top: 102%;
        font-family: "BuiltTitlingRegular", sans-serif;
        margin-left: -35px;
        letter-spacing: 3px;
        color: var(--white);
        font-size: 28px;
        span {
            color: var(--primary-color);
        }
    }
    &-base {
        position: absolute;
        bottom: -127px;
        border-width: 2px;
        height: 2px;
        border-style: solid;
        border-color: var(--white);
        width: 94px;
        transform: translateY(-70px);
        margin-left: -36px;
    }
    &-contac {
        position: absolute;
        border-width: 2px;
        width: 144px;
        border-style: solid;
        border-color: var(--white);
        height: 2px;
        transform: translateX(109px);
        margin-top: 10px;
    }
}
@media screen and (max-width: 991px) {
    .header {
        &-content {
            grid-template-columns: 100%;
            padding-top: 20px;
        }
        &-top {
            flex-direction: column;
            i.fa-solid{
                position: absolute;
            }
        }
        &-title {
            margin-bottom: 30px;
            font-size: 40px;
        }
        &-desc {
            position: static;
            left: -2%;
            font-size: 18px;
            height: auto;
            width: 100%;
        }
        &-dost {
            margin-bottom: 10px;
        }
        &-img {
            text-align: center;
            margin-top: 10px;
            img {
                display: inline;
            }
        }
        &-drive {
            margin-left: -8px;
        }
        &-auth {
            margin-left: 0px;
        }
        &-contac {
            display: none;
        }
        &-dost{
            text-align: center;
            a::before {
                content: "";
                
            }
        }
        &-main {
            gap: 0 135px;
        }
    }
}
@media screen and (max-width: 1023px) {
    .header{
    &-desc {
        margin-bottom: 30px;
    
    }
}
}
            