.header {
    background-color: var(--purple);
    padding-bottom: 100px;

    &-main {
        display: flex;
        align-items: center;
        gap: 0 290px;

    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }

    &-content {
        padding-top: 150px;
        display: grid;
        grid-template-columns: 1fr 6fr 5fr;
        position: relative;
    }

    &-drive {
        position: absolute;
        border-width: 1px;
        border-style: solid;
        width: 1px;
        border-color: var(--white);
        margin-left: 60px;
        height: 953px;
    }
    &-title {
        position: relative;
        color: white;
        font-size: 55px;
        letter-spacing: 6px;
        z-index: 50;
        line-height: 1.1;
        font-family: "BuiltTitlingRegular", sans-serif;
    }

    &-desc {
        position: absolute;
        height: 197px;
        top: 44.5%;
        left: 23%;
        padding: 25px 15px 30px 46px;
        background-color: var(--prink);
        font-family: "RobotoRegular", sans-serif;
        color: white;
        width: 388px;
        line-height: 1.75;
        width: 397px;
    }

    &-auth {
            position: absolute;
            top: 97%;
            margin-left: -17px;
            letter-spacing: 2px;
            color: var(--white);
            font-size: 22px;

        span {
            color: var(--primary-color);
        }
    }

    &-base {
        position: absolute;
        bottom: -77px;
        border-width: 2px;
        height: 1px;
        border-style: solid;
        border-color: var(--white);
        width: 67px;
        transform: translateY(-70px);
        margin-left: -20px;
    }
    &-contac {
        position: absolute;
        border-width: 2px;
        width: 184px;
        border-style: solid;
        border-color: var(--white);
        height: 2px;
        transform: translateX(109px);
        margin-top: 10px;
    }

        
}
