.menu {
    display: flex;
    align-items: center;
    gap: 0 0px;
  
    &-item{
        padding: 48px 93px 43px 116px;
            list-style: none;
    }
    &-item-active {
        font-family: "RobotoRegular", sans-serif;
        background:var(--purple-color);
            letter-spacing: 2.2px;
    }
    &-item:hover{
        background: #9277B5;;
        a{
            color: var(--white);
            &::after {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
    }
    &-link {
        display: inline-block;
        font-size: 18px;
        text-decoration: none;
        letter-spacing: 2.2px;
        font-family: "BuiltTitlingRegular", sans-serif;
        color: var(--white);
        position: relative;
        transition: all 0.2s linear;
        &::after {
            position: absolute;
            content: "";
            bottom: -10px;
            left: auto;
            right: 0;
            width: 0;
            height: 3px;
            background-color: var(--white);
            transition: all 0.2s linear;
        }
    }
    @media screen and (max-width: 991px) {
        gap: 0 0px;
        &-item{
         padding: 40px 20px;
         list-style: none;
         }
    }
    @media screen and (max-width: 767.98px) {
        display: none;
    }
}