.newletter {
    padding: 40px;
    background-color: var(--purple1);
    &-main {
        display: flex;
        align-items: center;
        background-color: var(--white);
        justify-content: space-between;
    }
    &-content {
        padding: 190px 125px ;
    }
    &-top {
        width: 54%;
        background-position: center;
    }
    &-heading {
        font-family: "BuiltTitlingRegular", sans-serif;
        font-size: 50px;
        max-width: 317px;
        letter-spacing: 5px;
        line-height: 1.1;
        margin-bottom: 30px;
        color: var(--purple-color)
    }
    &-desc {
        width: 400px;
        font-family: "BuiltTitlingRegular", sans-serif;
        line-height: 1.5;
    }
    @media screen and (max-width: 767.98px) {
        padding: 30px;
        &-main {
            flex-direction: column;
        }
        &-content {
            padding: 40px 40px;
        }
        &-top {
            width: 100%;
        }
        &-heading {
            font-size: 40px;
            margin-bottom: 15px;
        }
        &-desc {
            font-size: 18px;
            width: 305px;
        }
    }
    @media screen and (max-width: 1023.98px) {
        &-heading {
            font-size: 40px;
        }
        &-content {
            padding: 50px 0px 50px 50px;
        }
        &-main {
            flex-direction: column;
            padding-bottom: 30px;
        }
       
    }
}