.portfolio {
    padding: 40px;
    background-color: var(--purple1);

    &-fluid {

        background-image: url(../images/maps.jpg);
    }

    &-container {
        display: flex;
        align-items: center;
        max-width: 946px;
        margin: 0 auto;
        padding: 170px 0 140px;
    }

    &-top {
        display: flex;
        align-items: center;
    }

    &-img {
        margin: 0 auto;
    }

    &-icon {
        display: flex;
        align-items: center;
    }

    &-content {
        background-color: var(--purple);
        padding: 45px 0px 123px 33px;
    }

    &-title {
        font-family: "BuiltTitlingRegular", sans-serif;
        font-weight: 500;
        font-size: 48px;
        color: var(--white);
        line-height: 1.5;
        letter-spacing: 7px;
        width: 358px;
        margin-bottom: 27px;
    }

    &-desc {
        color: var(--white);
        max-width: 315px;
        line-height: 1.5;
        margin-bottom: 45px;
        font-family: "RobotoRegular", sans-serif;
        font-weight: 400;
        width: 400px;
    }

    &-number {
        color: var(--white);
        font-size: 30px;
        margin-bottom: 55px;
        font-family: "RobotoRegular", sans-serif;
        font-weight: 600;
    }

    &-icon {
        display: flex;
        gap: 0 20px;
        margin-bottom: 50px;
    }

    &-visit {
        color: var(--white);
        font-size: 30px;
        font-family: "RobotoRegular", sans-serif;
        font-weight: 400;
    }

    &-main {
        background: var(--black);
        max-width: 555px;
        padding: 57px 0 37px 40px;
    }

    &-list {
        width: 556px;
        font-size: 48px;
        font-family: "BuiltTitlingRegular", sans-serif;
        color: var(--white);
        margin-bottom: 48px;
        font-weight: 500;
        letter-spacing: 7px;
    }

    &-form-input {
        margin-bottom: 20px;
    }

    input::placeholder {
        color: var(--white);
    }

    &-inputs {
        font-family: "RobotoRegular", sans-serif;
        background: var(--black1);
        border: none;
        padding: 10px 137px 10px 10px;
        color: var(--white);
        z-index: 1;

    }

    textarea::placeholder {
        color: var(--white);
    }

    &-input-bottom {
        border: none;
        margin-bottom: 140px;
    }

    &-item {
        font-family: "RobotoRegular", sans-serif;
        margin-bottom: 40px;
        font-size: 25px;
    }

    &-form-inputt {
        font-family: "BuiltTitlingRegular", sans-serif;
        background: var(--black1);
        color: var(--white);
        border: none;
        margin-bottom: 20px;
        font-size: 32px;
        letter-spacing: 3px;
        padding: 15px 211px 80px 20px;
    }

    &-inputs {
        padding: 15px 210px 15px 20px;
        font-size: 32px;
        letter-spacing: 3px;
        font-family: "BuiltTitlingRegular", sans-serif;
    }

    @media screen and (max-width: 767.98px) {
        &-container {
            flex-direction: column;
            width: 420px;
            margin-left: -10px;
            padding: 50px 0 10px;


        }

        &-inputs {
            padding: 10px 50px 10px 10px;
        }

        &-form-inputt {
            padding: 12px 78px 50px 11px;
        }

        &-top {
            padding: 12px 78px 50px 11px;
        }

        &-content {
            margin-bottom: 30px;
        }

    }

    // @media screen and (min-width: 1024px) {
    // // &-inputs {
    // //     padding: 15px 400px 15px 15px;
    // // }
    // // }

    @media screen and (max-width: 1023.98px) {

        &-container {
            padding: 50px 0 50px;
        }

        &-top {
            width: 100%;
        }

        &-main {
            max-width: 741px;
            background: var(--black);
            padding: 50px 51px 56px 51px;
        }

        &-form-inputt {
            padding: 15px 361px 83px 11px;
        }

        &-inputs {
            background: var(--black1);
            border: none;
            padding: 15px 310px 15px 15px;
            color: var(--white);
            z-index: 1;
        }

        &-desc {
            font-size: 18px;
            margin-bottom: 30px;
        }

        &-title {
            margin-bottom: 10px;
        }

        &-number {
            margin-bottom: 30px;
        }

        &-icon {
            margin-bottom: 35px;
        }

        &-content {
            padding: 54px 19px 54px 21px;
        }

    }
}