.service {
    padding: 80px;
    position: relative;

    ::after {
        content: "";
        background: var(--primary-color);
        position: absolute;
        width: 70%;
        height: 100%;
        top: 0;
        z-index: -1;
        left: 0;
    }

    &-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
         width: 1181px;
        margin: 0 auto;
      
    }

    &-about {
        font-size: 96px;
        font-family: "RobotoRegular", sans-serif;
        font-weight: 500;
        color: var(--white);
        letter-spacing: 8px;
        margin-bottom: 40px;
        line-height: 1.1;
    }

    &-logo {
        img {
            margin-left: -100px;
        }
    }

    &-input {
        padding: 17px 53px 17px 20px;
        background: var(--white);
        border: none;
        font-weight: 500;
        letter-spacing: 3px;
        font-size: 32px;
    }

    &-form-input {
        margin-bottom: 17px;
    }
    &-heading {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 767.98px) {
        padding: 40px;

        ::after {
            width: 100%;
        }

        &-about {
            font-size: 44px;
        }

        &-main {
            flex-direction: column;
        }

        &-logo img {
            margin-left: 0px;
            transform: translateX(-152%);
             width: 334px;
        }

        &-content {
            margin-bottom: 50px;
        }

        &-form-input {
            margin-bottom: 20px;
        }
        &-input {
            padding: 10px 90px 10px 20px;
        }
    }
    @media screen and (max-width: 1023.98px) {
        ::after {
            width: 100%;
        }
        &-logo {
            img {
                margin-left: 0px; 
                transform: translateX(-500px);
                width: 333px;
            }
        }
        
        
    }
    

}