.tanner {
    background: purple;
}
button.slick-arrow {
    position: absolute;
    width: 70px;
    height: 70px;
    background: var(--primary-color);
    top: 50%;
    border-radius: 50%;
}
button.slick-next.slick-arrow {
    right: 100px;
}
button.slick-prev.slick-arrow {
    left: 100px;
    z-index: 1;
}
button.slick-arrow i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    padding-top: 4px;
    color: var(--primary-color);
}
@media screen and (max-width: 767.98px) {
    button.slick-prev.slick-arrow {
        left: 30px;
    }
    button.slick-next.slick-arrow {
        right: 30px;
    }
}
