.tanner {
    background: purple;
}
button.slick-arrow {
    position: absolute;
    width: 80px;
    height: 80px;
    background: var(--primary-color);
    top: 57%;
    border-radius: 50%;
}
button.slick-next.slick-arrow {
    right: 100px;
}
button.slick-prev.slick-arrow {
    left: 100px;
    z-index: 1;
}
button.slick-arrow i {
    width: 30px;
    height: 30px;
    border-radius: 64%;
    background: #e1dbdb;
    padding-top: 7px;
    z-index: 2;
    color: var(--primary-color);
}
@media screen and (max-width: 767.98px) {
    button.slick-prev.slick-arrow {
        left: 30px;
    }
    button.slick-next.slick-arrow {
        right: 30px;
    }
}
